body {
	margin: 0;
	background-attachment: fixed;
	background: rgb(2, 0, 36);
	background: linear-gradient(126deg, rgba(2, 0, 36, 1) 0%, rgba(146, 60, 181, 1) 54%, rgba(11, 16, 162, 1) 100%);
}

.title-bar {
	justify-content: space-between;
	display: flex;
	height: 10%;
	background-color: black;
	color: white;
	padding-top: 10px;
	align-items: center;
	padding-left: 75px;
	padding-right: 100px;
	background: url('../assets/demos/transparent.jpg') center / cover;
}

.lefish {
	display: flex;
	justify-content: space-around;
}

.leimage {
	height: 75px;
	width: 75px;
}

a {
	color: red;
	text-decoration: none;
	font-size: medium;
	margin-left: 16px;
	font-weight: 600;
}

a:hover {
	color: white;
}

.content {
	padding-left: 20%;
	padding-right: 20%;
}

.über-schrift {
	font-size: xx-large;
	display: flex;
}

.über-mich {
	padding-top: 100px;
	padding-left: 100px;
	font-size: large;
	padding-bottom: 150px;
}

.projects-über {
	font-size: xx-large;
}

.wip {
	display: flex;
	justify-content: center;
	text-decoration: underline;
}